{{>header}}
  <div class="about-container">
      <!-- <div class="description"></div>
      <div class="tech"></div>
      <div class="techstack"></div>
      <div class="hobbies"></div> -->
  </div>
{{>footer}}
