<div class="query-all">
  {{json description}}
</div>

<div class="query-all">
  {{{ json tech }}}
</div>

<div class="query-all">
  {{{ json stack }}}
</div>

<div class="query-all">
  {{{ json hobbies }}}
</div>
