  </body>
  <script type="text/javascript" src="../js/libraries/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../js/clickHandlers.js"></script>
  <script type="text/javascript" src="../js/queryStrings.js"></script>
</html>
